.container_all_registration{
    height:100%;
    width:100%;
    left:0;
    top:0;
    margin:0 auto;
    position: absolute;
    background-image:url(../image/honey_im_subtle.png);
    background-repeat:repeat;
}
.container_registration_box{
    height: 650px;
    width: 500px;
    top: 20%;
    left: 0;
    margin:0 auto;
    position: relative;
    justify-content: center;
}
.container_field_box{
    top: 50px;
    left:110px;
    margin:0 auto;
    position: absolute;
}
.container_button_box{
    top: 458px;
    left:314px;
    margin:0 auto;
    position: absolute;
}
.container_error_box{
    height: 200px;
    width: 1000px;
    top: 2.5%;
    left: 26%;
    margin:0 auto;
    position: absolute;
    justify-content: center;
    text-align: center;
    font-family: Verdana; 
    font-size: 24px;
    color: red;
}