<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="css/registration.css"/>
        <link rel="stylesheet" type="text/css" href="css/elemens/button.css"/>
        <link rel="stylesheet" type="text/css" href="css/elemens/field.css"/>
        <link rel="stylesheet" type="text/css" href="css/elemens/validation.css"/>
    </head>
   <body>
      <div class="container_all_registration">
            <div class="container_error_box">
                <form action="#" th:action="@{/registration}" method="post" th:object="${user}" >
                    <th:block th:if="${#fields.hasErrors('userLogin')}">
                        <div id="validation-login" th:errors="*{userLogin}"></div>
                    </th:block>
                    <th:block th:if="${#fields.hasErrors('userPassword')}">
                           <div id="validation-password" th:errors="*{userPassword}"></div>
                    </th:block>
                    <th:block th:if="${#fields.hasErrors('name')}">
                        <div  id="validation-name" th:errors="*{name}"></div>
                    </th:block>
                    </th:block><th:block th:if="${#fields.hasErrors('surname')}">
                        <div  id="validation-surname" th:errors="*{surname}"></div>
                    </th:block>
                    <th:block th:if="${#fields.hasErrors('patronymic')}">
                        <div  id="validation-patronymic" th:errors="*{patronymic}"></div>
                    </th:block>
                    <th:block th:if="${#fields.hasErrors('email')}">
                        <div  id="validation-email" th:errors="*{email}" class="alert alert-danger"></div>
                    </th:block>
                </form>
            </div>
            <div class="container_registration_box">
                <form action="#" th:action="@{/registration}" method="post" th:object="${user}" >
                     <div class="container_field_box">
                        <input class="field_sing-in" type="text" th:field="*{userLogin}" placeholder="Login" onfocus="true" required="true"/>
                        <input class="field_sing-in" type="password" th:field="*{userPassword}" placeholder="Password" required="true"/>
                        <input class="field_sing-in" type="text" th:field="*{name}" placeholder="Name" required="true"/>
                        <input class="field_sing-in" type="text" th:field="*{surname}" placeholder="Surname" required="true"/>
                        <input class="field_sing-in" type="text" th:field="*{patronymic}" placeholder="Patronymic" required="true"/>
                        <input class="field_sing-in" type="email" th:field="*{email}" placeholder="email" required="true"/>
                        <button class="sing_in_button"  type="submit">Registration</button><br>
                     </div>
                  </form>
                  <div class="container_button_box">
                     <button class="sing_in_button"  onclick="document.location='/login'">Back</button>
                  </div>
            </div>
      </div>
   </body>
</html>
